<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scable=1.0">
    <title>SPA-DEMO</title>
    <link rel="stylesheet" href="css/app.css"></head>
<body>
    <header class="web-hd">
        <div class="navbar">
            <a class="menu-btn left">
                <span class="btn-border"></span>
                <span class="btn-border"></span>
                <span class="btn-border"></span>
            </a>
            <div class="nav-area">
                <nav class="sup-nav inline">
                    <li class="inline-item z-active"><a href="">推荐</a></li>
                    <li class="inline-item">
                        <a href="">发现</a>
                    </li>
                </nav>
            </div>
            <a href="" class="right search-btn off">
                <i class="icon icon-search"></i>
            </a>
        </div>
    </header>

    <aside class="web-aside">
        <div class="login-area">
            <div class="inner">
                <a href="" class="user-profile">
                    <img src="../../img/slider_avatar_unlogin@2x.png" class="icon-avatar" alt="">
                </a>
                <a href="" class="login-btn button">登录</a>
            </div>
        </div>
        <ul class="menu">
            <li class="menu-item z-active"><a href=""><i class="icon icon-daily"></i>每日推荐</a></li>
            <li class="menu-item"><a href=""><i class="icon icon-bowser"></i>发现新奇</a></li>
            <li class="menu-item"><a href=""><i class="icon icon-about"></i>关于我们</a></li>
            <li class="menu-item"><a href=""><i class="icon icon-feedback"></i>意见反馈</a></li>
        </ul>
    </aside>

    <div class="web-bd">
        <div class="sub-nav">
            <div class="nav">
                <div class="top">
                    <a href="" class="item z-active">全部</a>
                    <a href="" class="item">游戏</a>
                    <a href="" class="item">美容</a>
                    <a href="" class="item">竞赛</a>
                    <a href="" class="item morebtn">更多<i class="icon icon-chevron-down icon-small"></i></a>
                </div>
                <div class="btm z-hide">
                    <a href="" class="item">ACM</a>
                    <a href="" class="item">设计</a>
                    <a href="" class="item">设计</a>
                    <a href="" class="item">设计</a>
                    <a href="" class="item">设计</a>
                </div>
            </div>
        </div>
        <div class="contents">
        </div>
        <div class="page-controll">
            <div class="btns right">
                <a href="" class="item next">下一页</a>
            </div>
        </div>
    </div>

    <div class="mask z-hide"></div>
</body>
</html>