<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>SPA-DEMO</title>
    <link rel="stylesheet" href="css/app.css"></head>
<body>
    <div class="mainview" id="publishMain">
        <header class="web-hd">
            <div class="navbar">
                <a class="back left">返回</a>
                <p class="title">发布活动</p>
            </div>
        </header>
        <div class="web-bd">
            <div class="list">
                <p class="item item-divider">基本信息</p>
                <div class="item-value field-row item">
                    <label class="key" for="">邮箱</label>
                    <input type="text" class="form-control val" name="" id="">
                </div>
                <div class="item-value field-row item">
                    <label class="key" for="">标题</label>
                    <input type="text" class="form-control val" name="" id="">
                </div>
                <a href="./selectTag" class="item item-value chevron-right">
                    <span class="key">标签</span>
                    <span class="val"></span>
                </a>
                <a href="" class="item item-value chevron-right">
                    <span class="key">时间</span>
                    <span class="val">2014-4-1</span>
                </a>
                <div class="item-value field-row item">
                    <label class="key" for="">外链</label>
                    <input type="text" class="form-control val" name="" id="">
                </div>
                <a href="./editIntro" class="item item-value chevron-right">
                    <span class="key">介绍</span>
                    <span class="val">fdfdfd</span>
                </a>
                <p class="item item-divider">上传封面图</p>
            </div>
            <div class="uploadarea">
                <div class="imglist">
                    <div class="item"><img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3789723005,3649816370&fm=111&gp=0.jpg" alt=""></div>
                </div>
                <div class="uploadbtn">
                    <input type="file" name="" class="uploadinput" id="uploadIpt">
                </div>
            </div>
            <div class="btns padding">
                <a class="btn success block" id="publish">发布</a>
            </div>
        </div>
    </div>
</body>
</html>